form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.formDiv {
  margin: 10px;
  padding: 5px;
}

input {
  width: 200px;
  padding: 8px;
  border-radius: 3px;
  border-style: solid;
  border-color: rgba(184, 178, 178, 0.644);
}

input:hover {
  cursor: pointer;
  background: rgba(160, 158, 158, 0.733);
}

button {
  border-radius: 3px;
  padding: 10px;
  width: 200px;
  font-weight: bolder;
}

button:hover {
  cursor: pointer;
  background: grey;
  color: #ffffff;
}
